.cake{
    background: #fff;
    border-radius: 10px;
    position: absolute;
    width: 5px;
    height: 35px;
    transform: translateY(-300px);
    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
}
.cake:after,
.cake::before{
background: rgba(255, 0, 0, 0.4);
content: "";
position: absolute;
width: 100%;
height: 2.222222px;
}